<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviewed</title>
    <%- include("partials/header.ejs") %>
</head>
<body>
    <h1>Your Reviews</h1>
    <div class="main-page">
    <a class="link" href="/new-post">Create new Review</a>
    <ul>
        <% posts.forEach(post => { %>
            <li>
                <h2><%= post.title %></h2>
                <p> <%= post.content %></p>
                <small>Posted on <%= post.createdAt.toDateString() %></small>
                <form action="/delete" method="post" style="display: inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>
    </div>
</body>
<%- include("partials/footer.ejs") %>
</html>